<div>
  1 ."this" and "let" are not same.
  <p> The "this" keyword refers to the current instance of the class.
    type of this in function is any.In TypeScript any type can refer to any type in TypeScript.
    Use of "this" keyword in TypeScript depends on the context in which it is used.
  </p>
  <p>The scope of "let" variables is limited to their containing block, </p>

  In the below example we can not use 'i' outside of the block the output will be 'i'  is not defined.
    <br>
    <b>example</b> :
    <span >`if(true) 
      let i =0;
      console.log(i)`</span>

<hr>
   2. <strong>Count for repeated characters in a array</strong>
  <br>
  Input -- {{string | json}}
  <br>
  Output --
  <span [innerHtml]="countRepeatedStrings(string) | json"></span>
  <hr>
  3. <strong>Nested object keys</strong>
  <br>
  Input -- {{nestedObject | json}}
  <br>
  Output --
  <span [innerHtml]="getKeys(nestedObject) | json"></span>
  <hr>
  4 .<strong>Reverse the Array of words</strong>
  <br>
  Input -- {{reverseWord | json}}
  <br>
  Output --
  <span [innerHtml]="reverseTheWord(reverseWord) | json"></span>
  <hr>
  <strong>Reverse the Array of words without using reverse and split</strong>
  <br>
  Input -- {{reverseWord | json}}
  <br>
  Output --
  <span [innerHtml]="reverseString(reverseWord) | json"></span>
  <hr>
  5. <strong>Remove duplicates</strong>
  <br>
  Input -- {{duplicateArray | json}}
  <br>
  Output --
  <span [innerHtml]="removeDuplicateStrings(duplicateArray) | json"></span>
</div>
